{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="{% static '/css/bootstrap.css'%}"/>
    <link rel="stylesheet" text="text/css" href="{% static '/styles/style.css'%}"/>
    <title>Job Portal</title>
</head>

<body>
   

    {# Display a form #}
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img  src="{%static '/images/jobs.png'%}" style="background-color:#8e6ef7"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                   
                   
                </ul>
               
                <button class="loginbtn" type="submit">Login</button>
                <button class="signupbtn" type="submit">Sign Up</button>
              
            </div>
        </div>
    </nav>
    <hr style="color:#ccc"/>
<div class="centerdiv">
<div class="centerText">
    <h2>
        Get access to over 50,000 jobs
    </h2>
    <hr class="line"/>
    <p>
        Sign up today to have the most recent job information sent directly to your inbox, and you could just land your ideal job. 

    </p>
    <button type="file" class="upload">Upload Resume</button>
</div>
    <img class="jobs" src="{%static 'images/jobs1.svg' %}"/>
</div>

<div class="search_here">
   <center>
        <input class="search" placeholder="Search job" type=""/>
        <!-- <button class="">Search</button> -->

   </center>
</div>
</body>

</html>